<div class = "container">
    <div class = "container text-center" style = "margin: 30px;">
        <h3>Agregar actividad</h3>
    </div>

    <form>
        <div class="mb-3">
          <label for="id" class="form-label">ID de Institucion:</label>
          <input type="text" class="form-control" id="id">
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de actividad:</label>
          <input type="text" class="form-control" id="nombre">
        </div>
        <div class="mb-3">
            <label for="donante" class="form-label">Donante de actividad:</label>
            <input type="text" class="form-control" id="donante">
          </div>
        <div class="mb-3">
            <label for="presupuesto" class="form-label">Presupuesto de actividad:</label>
            <input type="number" step="any" class="form-control" id="presupuesto">
        </div>
        <div class="mb-3">
            <label for="fecha" class="form-label">Fecha de actividad:</label>
            <input type="double" class="form-control" id="fecha">
        </div>
        <div class = "text-center">
            <button type="submit" class="btn btn-primary btn-sm me-2">Agregar</button>
            <a href="/" class = "btn btn-danger btn-sm">Regresar</a>
        </div>
      </form>

</div>
