<h2>Actividades proximas</h2>
<h3 class="text-center">DONANTE</h3>

<table class="table table-striped" style="margin: 10px;">
 
    <thead class="table-dark">
      <tr>
      <th>Nombre del donante</th>
        <th>Institucion donante</th>
        <th>Actividad donante</th>
        <th>Acciones</th>
        </thead>
          <tbody>
            <tr>
                <th> </th>
                <th> </th>
                <th> </th>
                <td><button class="btn btn-info" style="margin-top: 10px;">Eliminar/Actualizar</button></td>
            </tr>
        </tbody>


    </table>

    <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-end">
            <td><button class="btn btn-info"style="margin-top: 10px;">Atrás</button></td>
            <td><button class="btn btn-success ml-2"style="margin-top: 10px;">Crear donante</button></td>
          </div>
        </div>
      </div>

      