<h2>Lista Instituciones</h2>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
    <th>Identificador</th>
      <th>Nombre</th>
      <th>Tipo de Institucion</th>
      <th>Fecha de Ingreso</th>
      <th>Acciones</th>
      </thead>
        <tbody>
            <tr *ngFor="let institucion of instituciones">
                <td>{{institucion.identificador}}</td>
                <td>{{institucion.nombre}}</td>
                <td>{{institucion.tipo_institucion}}</td>
                <td>{{institucion.fecha}}</td>

                <td>
                  <button class="btn btn-info" style="margin-top: 10px;">Actualizar</button>
                </td>
            </tr>




        </tbody>


</table>
